<html>

<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <div class="jumbotron">
        <h1 class="display-4">Hello, Youser!</h1>
        <p class="lead">Uploading large files to the cloud can be difficult and frustrating. Spotty or weak HTTP
            connections mean uploads can take far too long to complete. Or worse, your requests time out and leave users
            with no choice but to start the entire upload over again..</p>
        <hr class="my-4">
        <p>Introducing the Chunked Uploads API.</p>
        <p class="lead">
            <form id="video">
                <input name="file" type="file" />
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </p>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script type="module" src="javascripts/chunk.js"></script>
</body>

</html>